<div class='cl-page' ng-cloak>
	<div class="cl-form-container">
		<div class="cl-form">
			<div class="cl-row">
				<div class="cl-column-third">
					<div class="cl-column-half">Year</div> <div class="cl-column-half">2017</div>
				</div>
				<div class="cl-column-third">
					<div>Week</div> <div>14</div>
					</div>
				<div class="cl-column-third">
					<div>7 Days</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cl-container">
		<div class="cl-calendar">
			<div class="cl-head">
				<div class="cl-column-seventh" ng-repeat="day in weekDays">{{day}}</div>
			</div>
			<div class="cl-body">
				<dir class="cl-row">
					<div class="cl-column-seventh" ng-repeat="day in weekDays"></div>
				</dir>
			</div>
		</div>
	</div>
</div>