<div class="jumbotron">
	<h1>'Hello 'Hello!</h1>
	<p class="lead">
		Welcome to the <b>imputation</b> application
		<br>
	</p>
	<p><a class="btn btn-lg btn-success" ng-href="#!/impute"><i class="fa fa-clock-o"></i> + <i class="fa fa-calendar"></i></a></p>
</div>

<div class="row marketing">
	<h4>Imputation application</h4>
	<p>
		This application allows you to enter your worktime for each of your missions / clients. This also allows you to share your stats and have a dashboard of your (team)work!
	</p>
</div>
