<div ng-controller="MainCtrl" ng-cloak>
  <md-content class="md-padding" layout-xs="column" layout="row">
	<div flex-xs flex-gt-xs="100" layout="column">
	  <md-card>
		<img ng-src="{{imagePath}}" class="md-card-image" alt="Imputation application - Home">
		<md-card-title>
		  <md-card-title-text>
			<span class="md-headline">Imputation application</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
				With this application you will be able to simply organize your (team)work !
			</p>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
		  <md-button class="md-primary" ng-click="goto('impute')">Impute</md-button>
		  <md-button class="md-primary" ng-click="goto('dashboard')">Analyse</md-button>
		</md-card-actions>
	  </md-card>

	</div>
  </md-content>
</div>